###### Tofu ######
.terraform/
*.tfvars
*.tfstate
*.tfstate.backup

###### Ansible ######
*.vault
vault.yml
inventory.ini
.vault_pass

###### Secrets ######
secrets-local/
*.plaintext.yaml
*.json

###### Other ######
.vscode/
.DS_Store