# Tofu 
.terraform/
*.tfvars
*.tfstate
*.tfstate.backup

# Ansible
*.vault
vault.yml
inventory.ini
test-inventory.ini
.vault_pass

# Secrets
secrets-local/
*.plaintext.yaml
*.json
!renovate.json

# Other
.vscode/
.DS_Store